<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="new"> <!-- contents render, but this div disappears -->
    <div class="panel panel-default">
        <div class="panel-heading">Add Payment</div>
        <div class="panel-body">

    <label class="payment">From:</label>
    <select class="payment">
        <!-- select the current user by default -->
        <option th:each="user : ${users}" th:text="${user.userName}" th:if="${user.id == currentUser.id}" selected="selected"></option>
        <option th:each="user : ${users}" th:text="${user.userName}" th:if="${user.id != currentUser.id}"></option>
    </select>
    <br />

    <label class="payment">To:</label>
    <select class="payment">
        <option th:each="user : ${users}" th:text="${user.userName}"></option>
    </select>
    <br />

    <label class="payment">Amount:</label>
    <input name="amount" />
    <br />

    <label class="payment">Date:</label>
    <input name="date" value="2017-08-21" />
    <br />

    <label class="payment"/>
    <button class="payment btn btn-primary" type="button">Add Payment</button>
        </div>
    </div>
</div>

</body>
</html>