<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="new"> <!-- contents render, but this div disappears -->
    <form action="#" th:action="@{/payment/create}" th:object="${payment}" method="post">
        <div class="panel panel-default">
            <div class="panel-heading">Add Payment</div>
            <div class="panel-body">

        <label class="payment">From:</label>
        <select name="payerId" class="payment">
            <!-- select the current user by default -->
            <option th:each="user : ${users}" th:text="${user.userName}" th:if="${user.id == currentUser.id}" th:value="${param.user}" selected="selected"></option>
            <option th:each="user : ${users}" th:text="${user.userName}" th:if="${user.id != currentUser.id}" th:value="${user.id}"></option>
        </select>
        <br />

        <label class="payment" >To:</label>
        <select name="recipientId" class="payment">
            <option th:each="user : ${users}" th:text="${user.userName}" th:value="${user.id}"></option>
        </select>
        <br />

        <label class="payment">Amount:</label>
        <input th:field="*{amount}"/>
        <br />

        <label class="payment">Date:</label>
        <input th:field="*{paymentDate}"/>
        <br />

        <label class="payment"/>
        <button class="payment btn btn-primary" type="submit">Add Payment</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>