<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="header">
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Sad Lotto</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <label th:inline="text" class="pale"></label>
            <!-- the currentUsername span is used by JS to figure out who your current user is -->
            <li><p class="navbar-text" th:inline="text">Welcome, <span id="currentUsername" th:text="${currentUser.userName}"></span>!</p></li>
            <li><a href="#">Sign out</a></li>
        </ul>
    </nav>
</div>

</body>
</html>