<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="history"> <!-- contents render, but this div disappears -->
    <div class="h2 media-heading pale">Transaction History</div>

    <div class="well well-sm">

    <table class="table table-striped">
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Running Total</th>
        </tr>
        <tr th:each="transaction : ${history.transactions}" th:include="history :: record" th:if="${transaction.Display()}"></tr>

    </table>

    </div>

    <p class="label label-info"><a href="#">Show All</a></p>

</div>

<tr th:fragment="record">
    <td th:text="${#dates.format(transaction.GetJavaDate(), 'MM/dd/yyyy')}"></td>
    <td th:text="${transaction.description}"></td>
    <td th:inline="text">$ [[${#numbers.formatDecimal(transaction.amount, 0, 'COMMA', 2, 'POINT')}]]</td>
    <td th:inline="text">$ [[${#numbers.formatDecimal(transaction.runningTotal, 0, 'COMMA', 2, 'POINT')}]]</td>
</tr>

</body>
</html>