<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="history"> <!-- contents render, but this div disappears -->
    <div class="h2 media-heading pale">Transaction History</div>

    <div class="row">
        <div class="col-md-2">Date</div>
        <div class="col-md-6">Description</div>
        <div class="col-md-2">vs Anthony</div>
        <div class="col-md-2">vs Sean</div>
    </div>

    <div th:replace="history :: record" />
    <div th:replace="history :: record" />
    <div th:replace="history :: record" />
    <div th:replace="history :: record" />
    <div th:replace="history :: record" />
    <div th:replace="history :: record" />
    <div th:replace="history :: record" />
    <div th:replace="history :: record" />
    <div th:replace="history :: record" />
    <div th:replace="history :: record" />
    <div th:replace="history :: record" />
    <div th:replace="history :: record" />
    <div th:replace="history :: record" />
    <div th:replace="history :: record" />
    <div th:replace="history :: record" />
    <div th:replace="history :: record" />
    <div th:replace="history :: record" />
    <div th:replace="history :: record" />
    <div th:replace="history :: record" />
    <div th:replace="history :: record" />
    <div th:replace="history :: record" />
    <div th:replace="history :: record" />
    <div th:replace="history :: record" />
    <div th:replace="history :: record" />
    <p class="label label-info"><a href="#">Show All</a></p>

</div>

<div th:fragment="record" class="row">
    <div class="col-md-2">2017-08-01</div>
    <div class="col-md-6">Someone paid $NN to Otherperson</div>
    <div class="col-md-2">+11</div>
    <div class="col-md-2">-7</div>
</div>

</body>
</html>