<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="history"> <!-- contents render, but this div disappears -->
    <h2 class="media-heading pale">Transaction History</h2>

    <div class="well well-sm">

    <table class="table table-striped">
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th>vs Anthony</th>
            <th>vs Sean</th>
        </tr>

        <div th:replace="history :: record" />
        <div th:replace="history :: record" />
        <div th:replace="history :: record" />
        <div th:replace="history :: record" />
        <div th:replace="history :: record" />
        <div th:replace="history :: record" />
        <div th:replace="history :: record" />
        <div th:replace="history :: record" />
        <div th:replace="history :: record" />
        <div th:replace="history :: record" />
        <div th:replace="history :: record" />
        <div th:replace="history :: record" />
        <div th:replace="history :: record" />

    </table>

    </div>

    <p class="label label-info"><a href="#">Show All</a></p>

</div>

<div th:fragment="record">
    <tr>
        <td>2017/08/01</td>
        <td>Someone paid $xx to otherperson</td>
        <td>+11</td>
        <td>-7</td>
    </tr>
</div>

</body>
</html>