<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
</head>
<style type="text/css">
    div {
        border:1px solid #aaa;
    }
</style>
<body>

<div th:fragment="tickets" th:remove="all">
    <div th:each="ticket : ${tickets}">
        One Ticket
    </div>
</div>

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-9" th:include="this :: tickets">Current Tickets</div>
            <div class="col-md-3">Current Debts</div>
        </div>
        <div class="row">
            <div class="col-md-6">Add Ticket</div>
            <div class="col-md-6">Add Payment</div>
        </div>
        <div class="row">
            <div class="col-md-12">History</div>
        </div>

        <!--
        resources/templates/home.html<br />
        <span th:text="${name}">default</span>
        -->
    </div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" />
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js" />
</body>
</html>