<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
</head>
<style type="text/css">
    .ticket-wrapper {
        border:2px solid black;
        border-radius:5px;
        margin:5px;
        padding:2px;
    }
    label.payment {
        text-align:right;
        width:70px;
    }
    select.payment {
        width:174px;
    }
    label.ticket {
        text-align:right;
        width:105px;
    }
    .right {
        text-align:right;
    }
    .ticket-numbers {
        width:20px;
    }
    label.ticket-numbers {
        text-align:center;
    }
</style>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" th:include="header :: header"/>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="well" th:include="debts :: current "/>
                <div class="well" th:include="addTicket :: new"/>
                <div class="well" th:include="addPayment :: new"/>
            </div>
            <div class="col-md-9">
                <div th:include="tickets :: tickets"/>
                <div th:include="history :: history"/>
            </div>
        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" />
<script src="js/bootstrap.min.js" />

</body>
</html>